<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>Heatmap</title>
    </head>

    <body>
        <div class="heatmap">
            <meta http-equiv="content-type" content="text/html; charset=UTF-8">
            <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
            <script src="{% static 'js/jquery.js' %}"></script>
            <script src="{% static 'js/correxplorer.js' %}"></script>
            <link href="{% static 'css/correxplorer.css' %}" rel="stylesheet">

              <h1>{{logged_in_msg }}</h1>
              
            <p>Example for team distribution per {{heatmap_file }} .</p>
            <p>each element represent number of engineers with a given proficiency level</p>
            <p></p>
            <p>operations:</p>
            <p>mouse hover on cell - show summary for the cell</p>
            <p>mouse click on cell - show details for cell - TBD - currently a pop up stub</p>
            <p>mouse hover on label - show summary for the label</p>
            <p>mouse click on label - sort for this label</p>
            <p>Note -The heatmap d3 visualization  is based on Pioter Migdal GitHub repo: <a href="https://github.com/CompassInc/correlation-explorer">Pioter Migdal on GitHub.</a></p> 
            
            <!--
            <input type="hidden" value="/static/data/prof.csv" id="file_path">
            -->
            
            <input type="hidden" value="{{heatmap_file}}" id="file_path">
            
            <!--
            Transpose?
             <input type="checkbox" id="transpose" checked="true">
            -->
            <input type="hidden" name="checkbox"  id="transpose" checked="true">
            <button id="file_load" hidden="hidden">Load CSV!</button>
            <button id="js_comparison" hidden="hidden">or generate JS comparison table?</button>

            Sort by:
            <select id="sort_func">
              <option value="abs_value">by Absolute Value</option>
              <option value="value" selected="selected">by Value</option>
              <option value="similarity">by Similarity</option>
              <option value="alphabetic">Alphabetic</option>
              <option value="original">Original</option>
            </select>

            <!-- Keep symmetry? -->
            <input type="hidden" name='checkbox' id="keep_symmetry" checked="true">
            Zoom
            <select id="zoom">
              <option value="0.5">0.5</option>
              <option value="0.8">0.8</option>
              <option value="1" selected="selected">1</option>
              <option value="2">2</option>
            </select>
            
            <input type="hidden" value="{{max_val}}" id="max_val">
            <input type="hidden" value="{{min_val}}" id="min_val">
            <input type="hidden" value="{{team_cnt}}" id="team_cnt">
            
            <!--
            <input type='text' id="zoom" value="1.">
            -->
          </p>
          <div class="tooltip" style="opacity: 0.01"></div>
        </div>
        
    </body>

</html>

