<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <title>Team</title>
    </head>

    <body>
        <h1>Team Portal Skeleton - Main Page</h1>
        
        <strong>
            <a href="/team/heatmap/">Team Proficiency Heatmap</a><br />
        </strong><br />
        <a href="/admin/team/">DB Administration</a><br />
        <a href="/team/about/">About</a><br />
        <a href="/team/register/">Register Here</a><br />
        <img src='{% static "rango.jpeg" %}' alt="Picture of Rango" />
    </body>

</html>

